@{
    ViewBag.Title = "تماس با ما";
}
<p class="text-danger">صفحه مورد نظر در حال ساخت میباشد.</p>

<address>
    گرگان-بلوارکاشانی<br />
    کاشانی12<br />
    <p title="Phone">موبایل :09117718804</p>
    
</address>

<address>
    <strong>پشتیبانی:</strong><a href="azmon@gmail.com">azmon@gmail.com</a><br />
</address>